/* Padrões */

body {
    margin: 0;
    padding: 0;
}


/* Classes */

.sol-cred {
    top: 0;
    right: 0;
    width: 335px;
    height: 50px;
    background: #07bc83;
    color: #FFF;
}

.sol-cred-sm {
    top: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: #07bc83;
    color: #FFF;
}

.line-all {
    width: 100%;
    height: 10px;
}

.line1 {
    background: #02b8bf;
}

.line2 {
    background: #1990ce;
}

.line3 {
    background: #07bc83;
}

.email-header {
    color: #02b8bf;
}

.sol-cred-change:hover {
    transition: .7s;
    background: #1990ce;
}

.title-q-somos {
    font: normal normal normal 70px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
    color: #02b8bf;
}

.title-q-somos-md {
    font: normal normal normal 33px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
    color: #02b8bf;
}

.block-q-somos {
    width: 20px;
    height: 20px;
    background: #02b8bf;
}

.block-q-somos-md {
    width: 10px;
    height: 10px;
    background: #02b8bf;
}


/* Footer */

footer {
    background: #F2F2F2;
}

.img-footer {
    width: 25px;
}

.clinical-cred-copy {
    color: #666666;
    font-size: 13px;
}

.inputs {
    width: 362px;
    border: none;
    font-size: 14px;
}

.txtarea-footer {
    font-size: 14px;
}

.button-footer {
    background: #02b8bf;
    color: #FFF;
    font-size: 14px;
}